---
import { Image } from "astro:assets";
import alchemyLogo from "./_static/alchemy-logo.svg";
import chainstackLogo from "./_static/chainstack.svg";
import infuraLogo from "./_static/infura.svg";
import quicknodeLogo from "./_static/quicknode.svg";
import allnodesLogo from "./_static/allnodes.svg";
---

<div class="bg-white py-16 sm:py-16 opacity-75" id="compatibility">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 uppercase">Compatible with all leading RPC providers</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <Image class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={alchemyLogo} alt="Alchemy" width={158} height={48} />
      <Image class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={chainstackLogo} alt="Chainstack" width={158} height={48} />
      <Image class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src={infuraLogo} alt="Infura" width={158} height={48} />
      <Image class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src={quicknodeLogo} alt="QuickNode" width={158} height={48} />
      <Image class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src={allnodesLogo} alt="AllNodes" width={158} height={48} />
    </div>
  </div>
</div>
<!-- <div class="bg-white py-16 sm:py-16 opacity-75" id="compatibility">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 uppercase">Compatible with all leading RPC providers</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/lp/alchemy-logo.svg" alt="Alchemy" width={158} height={48} />
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/lp/chainstack.svg" alt="Chainstack" width={158} height={48} />
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/lp/infura.svg" alt="Infura" width={158} height={48} />
      <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="/lp/quicknode.svg" alt="QuickNode" width={158} height={48} />
      <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="/lp/allnodes.svg" alt="AllNodes" width={158} height={48} />
    </div>
  </div>
</div> -->
